body {
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-items: center;
  align-items: center;
  display: grid;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  background: #dcf5ff;
}

.inner {
  box-sizing: border-box;
  background: #13ce96;
  width: 250px;
  padding: 1em;
  border-radius: 15px;
  cursor: pointer;
  clip-path: circle(10% at 90% 20%);
  transition: all 0.5s ease-in;
  h1 {
    color: whitesmoke;
    margin: 0;
  }
  p {
    color: whitesmoke;
    font-size: 1em;
  }
  span {
    float: right;
    font-weight: 300;
    font-size: larger;
    margin-right: 4%;
    color: rgb(252, 252, 252);
    transition: color 0.5s ease-in;
  }

  &:hover span {
    color: rgba(252, 252, 252, 0);
  }

  &:hover {
    clip-path: circle(75%);
    background: #00b6ff;
  }
}
